<h1>Log in</h1>

<%= form_tag sessions_path, :class => 'simple_form nice'  do %>
  <div class="input">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="input">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in", :class => 'nice button blue round' %></div>
<% end %>

