<!DOCTYPE html>
<html>
<head>
  <title>Update Alerter (Fake App)</title>
  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Jura:600' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="eight columns">
      <% flash.each do |name, msg| %>
        <div id="flash_<%=name%>" class="alert-box <%=name%>">
          <%= msg %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class="four columns">
      <div class="side_menu">
        <% if current_user %>
          <p>
            You are logged in as <%= current_user.email %>.
          </p>
          <%= link_to 'log out', logout_path, :method => :delete,
                :class => 'button small white nice round' %>
        <% else -%>
          <h5>Welcome!</h5>
          <%= link_to 'register', register_path, 
                :class => 'button small white nice round' %> 
          <%= link_to 'log in', login_path, 
                :class => 'button small white nice round' %>
        <% end -%>

        <br/><br/><br/>
        
        <p>
          <%= link_to "Recent Updates", update_messages_url %>
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
